*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
html,body{
	height: 100%;
}
html{
	scroll-behavior: smooth;
}
.container{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}
a{text-decoration: none;}
.clear{clear: both;}
.mobile{display: none;}
.w33{width: 33%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w100{width: 100%;}
						/*Header*/
#cabecalho{
	padding: 10px 0;
}
#cabecalho > .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo img{
	width: 230px;
}
.nav-header > ul{
	list-style: none;
}
.nav-header > ul > li{
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	text-transform: uppercase;
}
.nav-header ul a{
	color: #b4b4b4;
}
.mobile i{
	font-size: 25px;
	color: #b4b4b6;
	position: relative;
}
.mobile > ul{
	display: none;
	z-index: 999;
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	text-align: center;
}
.mobile > ul > li{
	background-color: white;
	border: 2px solid #ccc;
	margin: 2px 0;
	width: 80%;
	padding: 5px 0;
}
.mobile > ul > li:hover,.mobile > ul > li > a:hover{
	background-color: #ddd;
	transition: 0.7s;
}
.mobile > ul > li > a{
	padding: 0 25%;
}

						/*Mosaico*/

section#mosaico{

}
.mosaico-single{
	float: left;
	width: calc(100% / 6);
}
.img-mosaico{
	width: 100%;
	padding-top: 100%;
	background-color: #ccc;
	border: 5px solid white;
}
.img1{
	background-image: url('../images/painel1.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img2{
	background-image: url('../images/painel2.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img3{
	background-image: url('../images/painel3.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img4{
	background-image: url('../images/painel4.jpg');
	background-size: 100% 100%;
	background-position: center;
}


#servicos > .container{
	display: flex;
	align-items: center;
	max-width: 800px;
	position: relative;
	top: -40px;
}
.box-servico{
	text-align: center;
	padding: 0 2%;
}
#servicos > .container > .box-servico:nth-of-type(1){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}
#servicos > .container > .box-servico:nth-of-type(2){
	width: 40%;
	padding: 60px 2%;
	background-color: #688293;
}
#servicos > .container > .box-servico:nth-of-type(3){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}
.box-servico h2{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 10px;
}
.box-servico p{
	color: white;
	font-size: 13px;
	margin-bottom: 10px;
}
.box-servico i{
	font-size: 20px;
	color: white;
}

						/*Perfil*/
#perfil > .container{
	max-width: 800px;
}
#perfil .perfil-wraper2{
	padding-top: 60%;
	position: relative;
}

#perfil .perfil-wraper{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;	
}

.perfil-wraper > .img-perfil{
	height: 100%;
	background-image: url('../images/img_perfil.png');
	background-size: 100% 100%;
}
.perfil-wraper > .texto-perfil{
	padding: 0 30px;
}
.perfil-wraper > .texto-perfil h2{
	color: #698293;
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.perfil-wraper > .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	margin-bottom: 10px;
}

						/*Videos*/
section#videos{
	padding: 40px 0;
	text-align: center;
}
section#videos .box-video{
	float: left;
	display: inline-block;
	padding-top: calc(33.3% * 0.6);
	border: 5px solid white;
	position: relative;
}
section#videos iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
}						
						/*Tratamentos*/
#tratamentos{
	padding: 30px 0;
	background-color: #f7f7f7;
}
#tratamentos > .container > h2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #698293;
	padding: 10px 0;
}
.trio-tratamento{
	float: left;
}
.single-tratamento{
	padding: 15px;
}
.single-tratamento h2{
	font-size: 18px;
	color: #737373;
	text-align: center;
}
.single-tratamento p{
	padding: 10px 0;
	font-size: 13px;
	color: #b4b4b4;
}

						/*Depoimentos*/

#depoimentos > .container{
	padding: 40px 0;
	max-width: 400px;
}
#depoimentos > .container > h2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #698293;
	padding: 20px 0;
}
.depoimento-single{
	text-align: center;
	width: 100%;
}
.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}
.depoimento-single .pessoa-depoimento{
	padding: 20px 2%;
}
.pessoa-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}
.pessoa-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	position: relative;
	top: 6px;
	display: inline-block;
	vertical-align: top;
}


						/*Sobre*/

.chamada{
	text-align: center;
	background-color: #98a5ae;
	width: 100%;
	padding: 40px 0;
	color: white;
}
.chamada i{
	font-size: 30px;
	padding: 10px 0;
	color: white;
}
.chamada p{
	font-size: 18px;
}
.mosaico-social{
	width: 100%;
}
.single-social-img{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	border: 5px solid white;
}
#sobre > div:nth-of-type(3){
	background-color: #576975;
}
						/*Contato*/
#contato{
	padding: 40px 2%;
	background-color: #F7F7F7;
}
#contato >.container > h2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #698293;
	padding: 20px 0;
}
#contato  form{
	width: 100%;
	max-width: 550px; 
	margin: 25px auto;
	text-align: center;
}
.form-wraper{
	margin: 10px 0;
	float: left;
	padding: 0 10px;
	text-align: left;
}
.form-wraper span{
	font-size: 16px;
	color: #b4b4b4;
}

.form-wraper input{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	border: 1px solid #dadada;	
	margin-top: 10px;
}
.form-wraper textarea{
	margin: 10px 0;
	width: 100%;
	height: 150px;
	padding: 10px;
	resize: vertical;
	border: 1px solid #dadada;	
}
#contato input[type=submit] {
	width: 35%;
	height: 40px;
	border: none;
	background-color: #688293;
	color: white;
	cursor: pointer;
	font-size: 18px;
}

						/*Footer*/

footer{
	background-color: #688293;
	padding: 30px 0;
	text-align: center;
	color: white;
}
footer .bloco-footer{
	float: left;
	margin-bottom: 10px;
}	
.bloco-footer h2{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: lighter;
}
.bloco-footer p{
	font-size: 13px;
	margin-bottom: 5px;
}				

						/*Responsivo*/
@media screen and (max-width: 1024px){
	.single-social-img{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}
	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}

} /*1024*/
@media screen and (max-width: 768px){
	.w33{width:100%;}
	.desktop{
		display: none;
	}
	.mobile{
		display: inline-block;
	}
	#servicos > .container{
		flex-direction: column;
		top: 0;
	}
	.container > .box-servico{
		max-width: 400px;
	}
	#servicos > .container > .box-servico:nth-of-type(1){
		width: 85%;
		padding: 30px 2%;
	}
	#servicos > .container > .box-servico:nth-of-type(2){
		width: 94%;
		max-width: 450px;
		padding: 40px 2%;
	}
	#servicos > .container > .box-servico:nth-of-type(3){
		width: 85%;
		padding: 30px 2%;
	}

	#perfil .perfil-wraper2{
		padding-top: 20px;
	}

	#perfil .perfil-wraper{
		height: auto;
		position: static;
		display: inline-block;
		text-align: center;
		padding: 10px 0;
	}
	.perfil-wraper > .img-perfil{
		width: 50%;
		padding-top: 70%;
		display: inline-block;
		height: auto;
	}
	.perfil-wraper > .texto-perfil{
		display: inline-block;
		text-align: justify;
		width: 100%;
	}
	.perfil-wraper > .texto-perfil h2{
		text-align: center;
	}
	section#videos .box-video{
		width: 70%;
		padding-top: calc(70% * 0.6);
		float: none;
	}
	section#videos iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height:100%;
	}
	.mosaico-social > div:nth-of-type(1n+4){
		display: none;
	}
	.single-social-img{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);
	}
}	/*768*/	

@media screen and (max-width: 425px){
	.w50{
		width: 100%;
	}
	.perfil-wraper > .img-perfil{
		width: 80%;
		padding-top: 100%;
		display: inline-block;
		height: auto;
	}
	.header-logo img{
		width: 200px;
	}
	section#videos .box-video{
		width: 100%;
		padding-top: calc(100% * 0.6);
	}
} /*425*/