*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,body{
	height: 100%;
}
html{
	scroll-behavior: smooth;
	font-size: 10px;
}
.container{
	max-width: 128rem;
	padding: 0 2%;
	margin: 0 auto;
}
a{text-decoration: none;}
.mobile{display: none;}
.w33{width: 33%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w100{width: 100%;}

				/*Estilos do plugin*/

.slick-dotted ul{
	list-style: none;
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.slick-dotted li{
	display: inline-block;
	margin:0 .7rem;
}
.slick-dotted button:focus{
	outline: none;
} 
.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background-color: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}
li.slick-active button{
	background-color: #688293;
	color: #688293;
}
.slick-slide:focus{
	outline: none;
}

				/*preloader*/
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	transition: .4s;
}
.spinner{
	font-size: 5rem;
	color: white;
	width: 8rem;
	height: 8rem;
	border: .5rem solid #576975;
	border-radius: 50%;
	background-color: #688293;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: spinarak 1.2s infinite;
}
@keyframes spinarak{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
#link-topo{
	position: fixed;
	right: 2rem;
	bottom: 3rem;
	width: 3rem;
	height: 3rem;
	background-color: #576975;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	color: white;
	box-shadow: 0 .3rem .3rem rgba(0,0,0,.8);
	z-index: 19;
}	
#link-topo i{
	font-size: 2rem;
	line-height: 2rem;
}	
#link-topo:hover{
	opacity: .9;
	color: black;
}	
						/*Header*/
#cabecalho{
	padding: 1rem 0;
}
#cabecalho > .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo img{
	width: 23rem;
	margin-left: 2rem;
}
.nav-header > ul{
	list-style: none;
}
.nav-header > ul > li{
	display: inline-block;
	padding: 0 2rem;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.nav-header ul a{
	color: #b4b4b4;
}
.desktop ul a{
	padding-bottom: .5rem;
	transition: .3s;
}
.desktop li:hover a{
	border-bottom: .4rem solid #576975;
	color: rgba(0,0,0,.9);
}
.desktop >ul >li{
	text-shadow: 0 .1rem .1rem rgba(0,0,0,.3);	
}
.mobile i{
	font-size: 2.5rem;
	color: #b4b4b6;
	margin-right: 2rem;
	cursor: pointer;
	transition: .3s;
}
.mobile i:hover{
	color: #576975;
}
.mobile > ul{
	z-index: 999;
	width: 100%;
	position: absolute;
	top: -20rem;
	left: 0;
	text-align: center;
	opacity: 0;
	transition: 1s;
}
.open ul{
	opacity: 1;
	top: 6rem;
}
.mobile > ul > li{
	background-color: white;
	border: .2rem solid #ccc;
	margin: .2rem 0;
	width: 80%;
	padding: .5rem 0;
	box-shadow: 0 .2rem .2rem rgba(0,0,0,.9);
	font-size: 1.8rem;
}
.mobile > ul > li:hover{
	background-color: #688293;
	color: white;
	border: .2rem solid #576975;
	transition: 0.3s;
}
.mobile > ul > li:hover a{
	color: white;
}
.mobile > ul > li > a{
	display: block;
}

						/*Mosaico*/

.wraper-mosaico{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 0;
	z-index: 1;
	animation: showw 1s forwards;
}
@keyframes showw{
	0%{
		transform: translateY(-40rem);		
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
.mosaico-single{
	width: calc(100% / 6);
}
.img-mosaico{
	width: 100%;
	padding-top: 100%;
	background-color: #ccc;
	border: .5rem solid white;
}
.img1{
	background-image: url('../images/painel1.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img2{
	background-image: url('../images/painel2.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img3{
	background-image: url('../images/painel3.jpg');
	background-size: 100% 100%;
	background-position: center;
}
.img4{
	background-image: url('../images/painel4.jpg');
	background-size: 100% 100%;
	background-position: center;
}

#servicos > .container{
	display: flex;
	align-items: center;
	max-width: 80rem;
	position: relative;
	top: -4rem;
	z-index: 18;
}
.box-servico{
	text-align: center;
	padding: 0 2%;
	box-shadow: 0 .2rem .3rem rgba(0,0,0,.7);	
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.5);
}
@keyframes show{
	0%{
		transform: translateY(30rem);
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
.box-servico:nth-of-type(1){
	width: 30%;
	padding: 3rem 2%;
	background-color: #576975;
	opacity: 0;
	animation: show 1s .5s forwards;
}
.box-servico:nth-of-type(2){
	width: 40%;
	padding: 6rem 2%;
	background-color: #688293;
	z-index: 2;
	opacity: 0;
	animation: show 1s 1s forwards;
}
.box-servico:nth-of-type(3){
	width: 30%;
	padding: 3rem 2%;
	background-color: #576975;
	opacity: 0;
	animation: show 1s .5s forwards;
}
.box-servico h2{
	color: white;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 1rem;
}
.box-servico p{
	color: white;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}
.box-servico i{
	font-size: 2rem;
	color: white;
}

						/*Perfil*/
#perfil > .container{
	max-width: 100rem;
}
#perfil .perfil-wraper2{
	padding-top: 60%;
	position: relative;
}

#perfil .perfil-wraper{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;	
}

.perfil-wraper > .img-perfil{
	height: 100%;
	background-image: url('../images/img_perfil.png');
	background-size: 100% 100%;
}
.perfil-wraper > .texto-perfil{
	padding: 0 3rem;
}
.perfil-wraper > .texto-perfil h2{
	color: #698293;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);
}
.perfil-wraper > .texto-perfil p{
	color: #4b4b4b;
	font-size: 1.4rem;
	margin-bottom: 1rem;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}

						/*Videos*/
section#videos{
	padding: 4rem 0;
	text-align: center;
}
#videos .container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#videos .box-video{
	display: inline-block;
	padding-top: calc(33.3% * 0.6);
	border: .5rem solid white;
	position: relative;
}
#videos iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
}						
						/*Tratamentos*/
#tratamentos{
	padding: 3rem 0;
	background-color: #f7f7f7;
}
#tratamentos .container{
	display: flex;
	flex-wrap: wrap;
}
#tratamentos > h2{
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #698293;
	padding: 1rem 0;
	width: 100%;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}
.trio-tratamento{
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.single-tratamento{
	display: inline-block;
	padding: 1.5rem;
}
.single-tratamento h2{
	font-size: 1.8rem;
	color: rgb(100,100,100);
	text-align: center;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}
.single-tratamento p{
	padding: 1rem 0;
	font-size: 1.3rem;
	color: #b4b4b4;
	text-align: center;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}

						/*Depoimentos*/

#depoimentos > .container{
	padding: 4rem 0;
	max-width: 40rem;
}
#depoimentos > h2{
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #698293;
	padding: 2rem 0;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}
.depoimento-single{
	text-align: center;
	width: 100%;
}
.depoimento-single quote{
	font-size: 1.5rem;
	color: #b4b4b4;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
}
.pessoa-depoimento{
	padding: 2rem 2%;
	display: flex;
	justify-content: center;
}
.pessoa-depoimento img{
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 1.6rem;
}
.pessoa-depoimento span{
	font-size: 1.3rem;
	color: #b4b4b4;
	position: relative;
	top: .6rem;
	display: inline-block;
	vertical-align: top;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);	
	margin-left: 1rem;
}


						/*Sobre*/

.chamada{
	text-align: center;
	background-color: #98a5ae;
	width: 100%;
	padding: 4rem 0;
	color: white;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.4);	
}
.chamada i{
	font-size: 3rem;
	padding: 1rem 0;
	color: white;
}
.chamada p{
	font-size: 1.8rem;
}
.mosaico-social{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.single-social-img{
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	border: .5rem solid white;
}
#sobre > div:nth-of-type(3){
	background-color: #576975;
}
						/*Contato*/
#contato{
	padding: 4rem 2%;
	background-color: #F7F7F7;
}
#contato >.container > h2{
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #698293;
	padding: 2rem 0;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.1);		
}
#contato  form{
	width: 100%;
	max-width: 55rem; 
	margin: 2.5rem auto;
	text-align: center;
	font-size: 1.6rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.form-wraper{
	margin: 1rem 0;
	padding: 0 1rem;
	text-align: left;
}
.form-wraper span{
	font-size: 1.6rem;
	color: #b4b4b4;
}

.form-wraper input{
	width: 100%;
	height: 3.5rem;
	line-height: 3.5rem;
	padding-left: 1rem;
	border: .1rem solid #dadada;	
	margin-top: 1rem;
}
.form-wraper textarea{
	margin: 1rem 0;
	width: 100%;
	height: 15rem;
	padding: 1rem;
	resize: vertical;
	border: .1rem solid #dadada;	
}
#contato input[type=submit] {
	width: 35%;
	height: 4rem;
	border: none;
	background-color: #688293;
	color: white;
	cursor: pointer;
	font-size: 1.8rem;
	box-shadow: 0 .2rem .2rem rgba(0,0,0,.4);	
}
#contato input[type=submit]:hover {
	opacity: .9;
}

						/*Footer*/

footer{
	background-color: #688293;
	padding: 3rem 0;
	text-align: center;
	color: white;
}
footer .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.4);		
}
footer .bloco-footer{
	margin-bottom: 1rem;
}	
.bloco-footer h2{
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: lighter;
}
.bloco-footer p{
	font-size: 1.3rem;
	margin-bottom: .5rem;
}				

						/*Responsivo*/
@media screen and (max-width: 102.4rem){
	.single-social-img{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}
	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}

} /*1024*/
@media screen and (max-width: 76.8rem){
	.w33{width:100%;}
	.desktop{
		display: none;
	}
	.mobile{
		display: inline-block;
	}
	#servicos > .container{
		flex-direction: column;
		top: -3rem;
	}
	.container > .box-servico{
		max-width: 40rem;
	}
	#servicos > .container > .box-servico:nth-of-type(1){
		width: 85%;
		padding: 3rem 2%;
	}
	#servicos > .container > .box-servico:nth-of-type(2){
		width: 94%;
		max-width: 45rem;
		padding: 4rem 2%;
	}
	#servicos > .container > .box-servico:nth-of-type(3){
		width: 85%;
		padding: 3rem 2%;
	}

	#perfil .perfil-wraper2{
		padding-top: 2rem;
	}

	#perfil .perfil-wraper{
		height: auto;
		position: static;
		display: inline-block;
		text-align: center;
		padding: 1rem 0;
	}
	.perfil-wraper > .img-perfil{
		width: 50%;
		padding-top: 70%;
		display: inline-block;
		height: auto;
	}
	.perfil-wraper > .texto-perfil{
		display: inline-block;
		text-align: justify;
		width: 100%;
	}
	.perfil-wraper > .texto-perfil h2{
		text-align: center;
	}
	section#videos .box-video{
		width: 70%;
		padding-top: calc(70% * 0.6);
	}
	section#videos iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height:100%;
	}
	.mosaico-social > div:nth-of-type(1n+4){
		display: none;
	}
	.single-social-img{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);
	}
}	/*768*/	

@media screen and (max-width: 42.5rem){
	.wraper-mosaico{
		animation: none;
		opacity: 1;
	}
	.w50{
		width: 100%;
	}
	.perfil-wraper > .img-perfil{
		width: 80%;
		padding-top: 100%;
		display: inline-block;
		height: auto;
	}
	.header-logo img{
		width: 20rem;
	}
	section#videos .box-video{
		width: 100%;
		padding-top: calc(100% * 0.6);
	}
} /*425*/